.card {
  display: flex;
  align-self: center;
  width: 19vw;
  margin: 5% 10% 0px 10%;
  background-color: black;
}
.card:after {
  content: "";
  display: block;
  padding-bottom: 70%;
  background-color: black;
}
.cardWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 1%;
}
/* .cardWrap:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */
