.imgWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70vw;
  }
  /* .image {
    width: 23vw;
    margin: 10px;
    background-color: black;
  }
  .image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */
  